<mat-table [dataSource]="dataSource">

  <ng-container cdkColumnDef="id">
    <mat-header-cell *cdkHeaderCellDef>Id</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.id }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="client_name">
    <mat-header-cell *cdkHeaderCellDef>Client</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.client_name }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="due_date">
    <mat-header-cell *cdkHeaderCellDef>Due to</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.due_date }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="date_created">
    <mat-header-cell *cdkHeaderCellDef>Created at</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.date_created }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="commitment_date">
    <mat-header-cell *cdkHeaderCellDef>Commitment date</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.commitment_date }}</mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)"></mat-row>
</mat-table>
